<div class="container-fluid btn-group" role="group">
  <button type="button" class="choose btn btn-secondary" data-choose="country">
        Страна
    </button>
    <button type="button" class="choose btn btn-secondary" data-choose="city">
        Город
    </button>
    <button type="button" class="choose btn btn-secondary" data-choose="capital">
        Столица
    </button>
</div>
<br><br>
<div id="create-content"></div>
