<div class="content-header">
  <span class="h3">Переход по координатам</span>
  <hr>
</div>
<div class="content-scrollable">
  <form>
    <strong>Широта:</strong>
    <input name="latitude" class="form-control" type="text" value="47.2276">
    <br>
    <strong>Долгота:</strong>
    <input name="longitude" class="form-control" type="text" value="39.6273">
    <br>
    <input type="submit" style="display: none;">
  </form>
</div>
<div class="content-footer">
  <button id="submit" type="button" class="btn btn-primary btn-lg btn-block">Перейти</button>
</div>
