<div class="content-header">
  <span class="h3">Слои</span>
  <br><br>
</div>
<div class="content-scrollable">
  {{#each layers}}
  <div class="form-check">
    <input class="layer form-check-input" type="{{this.values_.switchType}}" data-value="{{@index}}"
    {{#if this.getVisible}}
      checked
    {{/if}}
    >
    <label class="layer form-check-label" for="layer" data-value="{{@index}}">{{this.values_.name}}</label>
  </div>
  {{/each}}
</div>
