@import './bootstrap.min.css';

#map {
    position: fixed;
    top: 3em;
    width: 100%;
    height: 100%;
}

#home-extent {
  z-index: 10;
  position: fixed;
  top: 5em;
  right: 1.5em;
}

#menu {
  z-index: 10;
  position: fixed;
  left: 4em;
  width: 22em;
  top: 10%;
  bottom: 5%;
  background-color: azure;
}

#menu .menu-header {
  height: 1.5em;
  padding-right: .5em;
  background-color: cornflowerblue;
  text-align: end;
}
#menu .menu-header a {
  color: #fff;
}

#menu .content {
  padding: .75em 1em;
}


/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}
