@import '~@fortawesome/fontawesome-free/css/all.css';

#map {
  position: fixed;
  top: 3em;
  width: 100%;
  height: 100%;
}

#controls {
  z-index: 10;
  position: fixed;
  top: 5em;
  right: 1.5em;

  >* {
    display: block;
    margin-bottom: .5em;
    width: 3em;
  }
}

#menu {
  z-index: 10;
  position: fixed;
  left: 4em;
  width: 22em;
  top: 10%;
  bottom: 15%;

  .menu-header {
    height: 1.5em;
    padding-right: .5em;
    background-color: cornflowerblue;
    border-radius: 10px 10px 0 0;

    a {
      position: absolute;
      right: .5em;
      color: #fff;
      font-style: oblique;
    }
  }

  #content {
    position: relative;
    height: 100%;
    padding: .75em .9em;
    background-color: azure;
    border-radius: 0 0 10px 10px;

    #create-content {
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    .content-inner {
      display: flex;
      flex-direction: column;
      height: 100%;
      
      .content-scrollable {
        overflow-y: auto;
        margin-bottom: 1em;
        padding-right: 0.75em;
  
        .images {
          padding: 0;
        }
      }

      .content-footer {
        position: relative;
        width: 100%;
      }
    }

    >img {
      cursor: pointer;
    }

    .carousel {
      .carousel-control-next-icon, .carousel-control-prev-icon {
        background-color: #777;
        border-radius: 10px;
      }

      img {
        max-width: 100%;
        height: auto;
        max-height: 70vh;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    }

    input.layer {
      margin-top: .55rem;
    }

    label.layer {
      font-size: 1.25rem;
    }
  }
}

.feature-header-buttons {
  position: absolute;
  right: 1em;
  display: inline-block;
}

.toast {
  z-index: 10000;
  position: absolute;
  bottom: 2em;
  right: 3em;

  .toast-body:first-letter {
    text-transform:capitalize;
  }
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1.1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);

  button {
    margin-left: .75em;
  }
}

.navbar .form-control {
  margin-left: .75em;
  margin-right: .75em;
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
  height: inherit;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);

  :focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
  }
}
