@import '~@fortawesome/fontawesome-free/css/all.css';

#map {
  position: fixed;
  top: 3em;
  width: 100%;
  height: 100%;
}

#controls {
  z-index: 10;
  position: fixed;
  top: 5em;
  right: 1.5em;
}

#controls>* {
  display: block;
  margin-bottom: .5em;
  width: 3em;
}

#menu {
  z-index: 10;
  position: fixed;
  left: 4em;
  width: 22em;
  top: 10%;
  bottom: 15%;
}

#menu .menu-header {
  height: 1.5em;
  padding-right: .5em;
  background-color: cornflowerblue;
  text-align: end;
  border-radius: 10px 10px 0 0;
}
#menu .menu-header a {
  color: #fff;
  font-style: oblique;
}

#menu #content {
  height: 100%;
  padding: 1em 1.25em;
  background-color: azure;
  border-radius: 0 0 10px 10px;
  overflow-y: auto;
}

.feature-header-buttons {
  position: absolute;
  display: inline-block;
  right: 1em;
  text-align: end;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1.1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar-brand>button {
  margin-left: .75em;
}

.navbar .form-control {
  margin-left: .75em;
  margin-right: .75em;
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}
