<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <input id="search" class="form-control form-control-dark" type="text" placeholder="Поиск">
  <span class="navbar-brand text-white col-sm-8 mr-0 text-right">
    Пользователь: <strong>{{ name }}</strong>
    <button id="logout" class="btn btn-sm btn-danger"><i class="fas fa-sign-out-alt"></i></button>
  </span>
</nav>
<div id="menu-placeholder"></div>
<div id="controls">
  <button id="home-extent" class="btn btn-success"><i class="fas fa-home"></i></button>
  <button id="layers" class="btn btn-warning"><i class="fas fa-bars"></i></button>
  <button id="create" class="btn btn-primary"><i class="fas fa-plus"></i></button>
</div>
<div id="map-placeholder"></div>
