<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <input id="search" class="form-control form-control-dark" type="text" placeholder="Поиск">
  <span class="navbar-brand text-white col-sm-8 mr-0 text-right">
    Пользователь: <strong>{{ name }}</strong>
    {{#if isAdmin}}
    <button id="admin" class="btn btn-sm btn-info" title="Администрирование"><i class="fas fa-users-cog"></i></button>
    {{/if}}
    <button id="logout" class="btn btn-sm btn-danger" title="Выйти"><i class="fas fa-sign-out-alt"></i></button>
  </span>
</nav>
<div id="menu-placeholder"></div>
<div id="controls">
  <button id="home-extent" class="btn btn-lg btn-success" title="Начальный экстент"><i class="fas fa-home"></i></button>
  <button id="layers" class="btn btn-lg btn-warning" title="Слои"><i class="fas fa-bars"></i></button>
  <button id="create" class="btn btn-lg btn-primary" title="Создать"><i class="fas fa-plus"></i></button>
  <button id="screenshot" class="btn btn-lg btn-info" title="Сделать скриншот"><i class="fas fa-file-download"></i></button>
</div>
<div id="map-placeholder"></div>
<div id="toast-placeholder"></div>
