{{#if countries}}
<strong class="h5">Создать страну</strong><br><br>
<select id="country" name="country" class="form-control">
    {{#each countries as |c|}}
    <option value="{{c.id}}">{{c.name}}</option>
    {{/each}}
</select>
<small class="form-text text-muted">
    Вы можете начать печатать навзвание страны, чтобы быстрее найти её.
</small>
<br>
<button id="submit" type="button" class="btn btn-primary btn-lg btn-block">Создать</button>
{{else}}
<strong>Нет стран для создания.</strong>
{{/if}}
