<div class="container-fluid btn-group" role="group">
  <button type="button" class="choose btn btn-secondary" data-choose="country">
        Страна
    </button>
    <button type="button" class="choose btn btn-secondary" data-choose="city">
        Город
    </button>
</div>
<br><br>

{{#if isCountry}}
    <strong class="h5">Создать страну</strong><br><br>
    <select id="country" class="form-control">
        {{#each countries as |c|}}
        <option data-id="{{c.id}}">{{c.name}}</option>
        {{/each}}
    </select>
    <small class="form-text text-muted">
        Вы можете начать печатать навзвание страны, чтобы быстрее найти её.
    </small>
    <br>
    <button id="submit" type="button" class="btn btn-primary btn-lg btn-block">Создать</button>
{{else}}
    <strong class="h5">Создать город</strong>
{{/if}}