<form class="form-signin text-center">
    <h1 class="h3 mb-3 font-weight-normal">Пожалуйста войдите:</h1>
    <label for="username" class="sr-only">Имя пользователя</label>
    <input type="text" name="username" class="form-control" placeholder="Имя пользователя" required autofocus>
    <label for="password" class="sr-only">Пароль</label>
    <input type="password" name="password" class="form-control" placeholder="Пароль" required>
    <button id="submit" class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
    <button id="register" class="btn btn-sm btn-info btn-block" type="submit">Регистрация</button>
    <button id="reset" class="btn btn-sm btn-warning btn-block" type="submit">Забыли пароль?</button>
</form>
<div id="toast-placeholder"></div>

<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">Регистрация</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="username" class="col-form-label">Имя пользователя:</label>
            <input type="text" class="form-control" name="username" required>
          </div>
          <div class="form-group">
            <label for="email" class="col-form-label">Электронная почта:</label>
            <input type="email" class="form-control" name="email" required>
          </div>
          <div class="form-group">
            <label for="password" class="col-form-label">Пароль:</label>
            <input type="password" class="form-control" name="password" required>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
        <button id="registerSubmit" type="button" class="btn btn-primary">Зарегистрироваться</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="resetModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">Сброс пароля</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="email" class="col-form-label">Электронная почта:</label>
            <input type="email" class="form-control" name="email" required>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
        <button id="resetSubmit" type="button" class="btn btn-primary">Сбросить</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="resetSuccessModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">Сброс пароля</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="password" class="col-form-label">Пароль:</label>
            <input type="password" class="form-control" name="password" required>
          </div>
          <div class="form-group">
            <label for="token" class="col-form-label">Токен:</label>
            <input type="text" class="form-control" name="token" required>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
        <button id="resetSuccessSubmit" type="button" class="btn btn-primary">Сбросить</button>
      </div>
    </div>
  </div>
</div>
